<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PandaPlacement-TemplateFooter</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .footer {
        margin: 0;
        padding: 0;
      }

      .wrapper {
        padding: 0 10px 0 0;      
        width: 100%;
        display: -webkit-box; /* wkhtmltopdf uses this one */
        -webkit-box-pack: end; /* wkhtmltopdf uses this one */
      }

      .wrapper img {
        margin-right: 2rem;
        width: 150px;
      }
    </style>
  </head>
  <body>
    <div class="footer">
      <div class="wrapper">
        <img src="../../media/images/logo-tranparent.png" />
      </div>
    </div>
  </body>
</html>
