.dashboard {
  position: relative;
  top: 60px;
  background-color: var(--light-shade-blue-gray);
  margin-bottom: 50px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dashboard-outer {
  position: relative;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 6px 15px var(--light-shade-blue-gray);
  margin-bottom: 1rem;
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  transition: all 0.5s;
}
.widget-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
  padding: 20px 30px 30px;
  min-height: 60px;
}

.text,
p {
  font-size: 15px;
  color: var(--dimgray);
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}
.upper-title-box h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  color: var(--dark-shade-gray);
  margin-bottom: 10px;
}

.widget-content {
  position: relative;
  /* padding: 0 30px 60px */
  padding-left: 5%;
  padding-right: 5%;
}
.form-group {
  margin-bottom: 30px;
}
.form-group > label {
  font-size: 15px;
  line-height: 20px;
  color: var(--dark-shade-gray);
  font-weight: 500;
  margin-bottom: 10px;
}
.input_field {
  position: relative;
  width: 100%;
  display: block;
  height: 60px;
  line-height: 30px;
  padding: 15px 20px;
  font-size: 15px;
  color: var(--dimgray);
  background-color: var(--alice-blue);
  border: 1px solid var(--alice-blue);
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn_one {
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-size: 15px;
  line-height: 20px;
  border-radius: 8px;
  font-weight: 400;
  padding: 18px 35px 15px;
}

.passwordStrength {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.passwordStrength li {
  margin-right: 20px;
  color: var(--gray);
  display: flex;
  gap: 10px;
}

.valid {
  color: var(--green) !important; /* Green for valid criteria */
}

.invalid {
  color: var(--red-color) !important; /* Red for invalid criteria */
}

@media screen and (max-width: 850px) {
  .dashboard-outer {
    width: 100%;
  }

  .dashboard-outer {
    width: 92%;
  }
}
