.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.imgwrapper {
  height: 300px;
  width: 300px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: var(--dark-gray);
}

/* .imgwrapper {
    width: 100%;
    height: 100%;
  } */

.imgwrapper img {
  width: 100%;
  height: 100%;
}

h4 {
  text-align: center;
  margin-top: 20px;
}
