
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />

        <title>Account Activation</title>
    </head>
    <body
        style="
            margin: 0;
            padding: 0;
            background: #f3f3f3;
            font-family: Poppins, sans-serif;
            font-size: 16px;
        "
    >
        <div
            class="main-wrapper"
            style="
                padding: 25px 0 0 0;
                width: 100%;
                display: flex;
                margin: auto;
                font-family: Poppins;
                margin: auto;
            "
        >
            <div
                style="
                    margin: auto;
                    max-width: 750px;
                    min-width: 350px;
                    background-color: white;
                    padding: 5px 25px 25px 25px;
                "
            >
                <div style="margin: 30px 0">
                    <a
                        href="#"
                        target="_blank"
                        style="display: block; max-width: 128px"
                    >
                        <img
                            src="{{domain}}/static/media/logo.66f14d0f3021042b57a9.jpg"
                            alt="img"
                            width="128"
                            border="0"
                            style="display: block; width: 128px"
                        />
                    </a>
                </div>
                <span
                    style="
                        color: #1a1a1a;
                        line-height: 60px;
                        font-weight: 600;
                        letter-spacing: -1.5px;
                    "
                >
                    Dear {{ user.first_name }} {{user.last_name}},
                </span>
                <p class="card-text">
                    We received a request to reset the password associated with
                    your account {{ user.email }} on
                    <a
                        href="pandaplacement.com"
                        style="
                            text-decoration: none;
                            color: #bcd14e;
                            font-weight: 600;
                        "
                        >pandaplacement.com</a
                    >
                    To proceed with the password reset, please follow the
                    instructions below:
                </p>

                <ol>
                    <li>
                        Click on the following link to reset your password:
                        <a
                            href="{{ reset_link }}"
                            style="
                                text-decoration: none;
                                color: #bcd14e;
                                font-weight: 600;
                            "
                            >Reset Password</a
                        >
                    </li>
                    <li>
                        If the link does not work, you can copy and paste the
                        URL into your browser's address bar: {{reset_link}}
                    </li>
                    <li>
                        Once you have accessed the link, you will be prompted to
                        create a new password for your account.
                    </li>
                </ol>

                <p>
                    Note: This link is valid for 1 reset and 15mins, after which
                    it will expire. If you do not reset your password within
                    this timeframe, you will need to submit another password
                    reset request.
                </p>

                <p>
                    If you did not initiate this password reset request or
                    believe it is in error, please disregard this email. Your
                    account security is important to us.
                </p>

                <p>
                    If you continue to experience issues or have any questions,
                    please contact our support team at
                    <a
                        href="mailto:support@pandaplacement.com"
                        style="
                            text-decoration: none;
                            color: #bcd14e;
                            font-family: Poppins;
                            font-weight: 600;
                        "
                        >support@pandaplacement.com</a
                    >.
                </p>

                <p>Thank you for using PandaPlacement.</p>
            </div>
        </div>
        <div
            class="footer"
            style="
                padding: 25px 0 25px 0;
                font-family: Poppins;
                background: #f3f3f3;
                flex-wrap: wrap;
                margin: auto;
                width: 100%;
            "
        >
            <div
                style="
                    justify-content: space-between;
                    width: 100%;
                    text-align: center;
                "
            >
                <span style="font-weight: bold">HELP&nbsp;CENTER</span>
                <span style="font-weight: bold"
                    >&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span
                >
                <span style="font-weight: bold">SUPPORT&nbsp;24/7</span>
                <span style="font-weight: bold"
                    >&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span
                >
                <span style="font-weight: bold">ACCOUNT</span>
            </div>
            <div style="line-height: 20px; width: 100%; text-align: center">
                <br />
                <span
                    style="
                        font-family: Poppins;
                        color: #868686;

                        line-height: 20px;
                    "
                    >Designed by PandaPlacement &copy;
                </span>
            </div>
            <div
                style="
                    justify-content: space-between;
                    margin: 5px 0;
                    width: 100%;
                    text-align: center;
                "
            >
                <a
                    style="text-decoration: none; color: #1a1a1a"
                    href="mailto:support@pandaplacement.com"
                    >support@pandaplacement.com</a
                >
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a style="text-decoration: none; color: #1a1a1a" href=""
                    >+1 (789) 6543214</a
                >
                <!-- <a style="font-weight: bold">ACCOUNT</a> -->
            </div>
            <div style="text-align: center; margin: 20px 0">
                <a
                    href="#"
                    target="_blank"
                    style="
                        max-width: 25px;
                        margin: 0 15px;
                        text-decoration: none;
                        color: black;
                    "
                >
                    <img
                        src="https://i.imgur.com/pqpvluz.png"
                        alt="img"
                        width="25"
                        border="0"
                        style="width: 25px"
                    />
                </a>
                <a
                    href="#"
                    target="_blank"
                    style="
                        max-width: 25px;
                        margin: 0 15px;
                        text-decoration: none;
                        color: black;
                    "
                >
                    <img
                        src="https://i.imgur.com/YHSbvKs.png"
                        alt="img"
                        width="25"
                        border="0"
                        style="width: 25px"
                    />
                </a>
                <a
                    href="#"
                    target="_blank"
                    style="
                        max-width: 25px;
                        margin: 0 15px;
                        text-decoration: none;
                        color: black;
                    "
                >
                    <img
                        src="https://i.imgur.com/rnIBIWc.png"
                        alt="img"
                        width="25"
                        border="0"
                        style="width: 25px"
                    />
                </a>
            </div>
        </div>
    </body>
</html>
