.notification__item {
  width: 93%;
  height: 11vh;
  margin: 0 auto;
  overflow: hidden;
}

.ListItemText {
  height: 100%;
  overflow: hidden;
}

.link {
  color: #000;
  text-decoration: none !important;
}
