.dashboard {
  position: relative;
  /* background-color: var(--light-shade-grayish-blue); */
  background-image: url(../../../assets/BackgroundImage.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 4rem;
  width: 100%;
  height: 100vh;
}

.forgotHeading {
  color: #000;
  display: flex;
  align-items: center;
  margin: 25px 2%;
  transition: all 0.5s;
}

.dashboard-outer {
  position: relative;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 6px 15px var(--light-shade-blue-gray);
  margin-bottom: 3rem;
  width: 35%;
  height: fit-content;
  padding: 10px;
  margin-left: 2%;
  transition: all 0.5s;
}

.widget-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
  padding: 20px 30px 30px;
  min-height: 60px;
}

.text,
p {
  font-size: 15px;
  color: var(--dimgray);

  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.upper-title-box h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  color: var(--dark-shade-gray);
  margin-bottom: 10px;
}

.widget-content {
  position: relative;
  /* padding: 0 30px 60px */
  padding-left: 5%;
  padding-right: 5%;
}

.form-group {
  margin-bottom: 30px;
}

.form-group > label {
  font-size: 15px;
  line-height: 20px;
  color: var(--dark-shade-gray);
  font-weight: 500;
  margin-bottom: 10px;
}

.input_field {
  position: relative;
  width: 100%;
  display: block;
  height: 60px;
  line-height: 30px;
  padding: 15px 20px;
  font-size: 15px;
  color: var(--dimgray);
  background-color: var(--alice-blue);
  border: 1px solid var(--alice-blue);
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn_one {
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-size: 15px;
  line-height: 20px;
  border-radius: 8px;
  font-weight: 400;
  padding: 18px 35px 15px;
}

@media screen and (max-width: 850px) {
  .widget-content {
    width: 100%;
  }
  .dashboard-outer {
    width: 92%;
  }
  .forgotHeading {
    margin: 25px 5%;
  }
}
